.MuiButtonBase-root {
    width: 10%;
}

.MuiTypography-root { /* Header Text */
    font-family: unset;
    width: 90%;
}
.css-1eqxiuy-MuiTypography-root {
    font-family: unset;
  
}

.question{
    height: 100vh;
}

html, body {margin: 0; height: 100%; overflow: hidden} /* Disables scrolling */

.ButtonStack {
    padding: 20px;
}

.qRadio{
    width: 10%;
}