/* header */
#header {
	border-bottom:1px solid #999;
	height:100px;
	width:901px;
}
#header h1 {
	color:#888;
	font-size:300%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
}
#header h2 {
	color:#CCC;
	font-size:200%;
	letter-spacing:-2px;
	text-align:right;
}

#content {
    width:900px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    padding-left: 10px;
    
}
/* Content Headers */
#content h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
  }
#content h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
  }
#content h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
  }
/* Team Info */
#teamText img {
    float:left;
    height: 150px;
    width: 150px;
    padding-right: 20px;
  }
#teamText p {
    font-size: 16px;
    margin-right: 300px;
    margin-left: 100px;
  }

  #contentTwo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:75%;
  }

  #conclusion img {
    float:left;
  }